body {
    margin: 0;
    background-color: #000000;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

h1 {
    color: white;
}

.hidden {
    position: absolute;
    left: -10000px;
}